:root {
  --clr-orange: hsl(23, 99%, 63%);
  --clr-purple: hsl(263, 91%, 62%);
  --clr-black: #333333;
}

body {
  position: relative;
  font-family: "Clash Display", sans-serif;
}
/* ===NAVBAR SECTION=== */
nav {
  color: var(--clr-black);
  font-weight: 400;

  i {
    color: var(--clr-orange);
  }

  .focus-ring {
    box-shadow: none !important;
  }
  .nav-btn {
    font-size: 1rem;
    background-color: var(--clr-orange);
    width: fit-content;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    align-self: center;
    outline: none;
    border: none;
    transition: scale 0.3s;
    &:active {
      scale: 0.98;
    }
  }
}
/* ===HERO SECTION=== */
#hero {
  &::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 100px;
    z-index: -2;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    background-color: transparent;
    box-shadow: 0px 0px 200px 200px #fe8c4580;
  }
  &::after {
    content: "";
    position: absolute;
    left: 20px;
    top: 200px;
    z-index: -2;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    background-color: transparent;
    box-shadow: 0px 200px 400px 150px #8a47f67a;
  }

  .left {
    min-height: 90dvh;

    .hero__title {
      font-size: 5rem;
      font-weight: 600;

      span {
        color: var(--clr-purple);
      }
      .purple__line {
        width: 120px;
        height: 16px;
        margin-bottom: 12px;
        background-color: var(--clr-purple);
        display: inline-block;
      }
    }
    .hero__btn {
      background-color: var(--clr-orange);
      padding-inline: 1.5rem;
    }
  }
  .right {
    .carousel-indicators {
      position: absolute;
      bottom: -3rem;

      button {
        background-color: var(--clr-black);
        opacity: 0.5;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 0 5px;
        border: none;
      }

      .active {
        opacity: 1;
        background-color: var(--clr-purple);
      }
    }
  }
}
