:root {
  --clr-orange: hsl(23, 99%, 63%);
  --clr-purple: hsl(263, 91%, 62%);
  --clr-light-purple: hsl(261, 89%, 96%);
  --clr-black: #333333;
}

body {
  position: relative;
  font-family: "Clash Display", sans-serif;
  color: var(--clr-black);
}

button {
  background-color: var(--clr-orange);
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  outline: none;
  border: none;
}

.purple__text {
  color: var(--clr-purple) !important;
}
/* ===NAVBAR SECTION=== */
nav {
  font-weight: 400;

  i {
    color: var(--clr-orange);
  }

  .focus-ring {
    box-shadow: none !important;
  }

  .nav-btn {
    font-size: 1rem;
    background-color: var(--clr-orange);
    width: fit-content;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    align-self: center;
    outline: none;
    border: none;
    transition: scale 0.3s;

    &:active {
      scale: 0.98;
    }
  }
}
/* ===HERO SECTION=== */
#hero {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 100px;
    z-index: -2;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    background-color: transparent;
    box-shadow: 0px 0px 200px 200px #fe8c4580;
  }

  &::after {
    content: "";
    position: absolute;
    left: 20px;
    top: 200px;
    z-index: -2;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    background-color: transparent;
    box-shadow: 0px 200px 400px 150px #8a47f67a;
  }

  .left {
    min-height: 90dvh;

    .hero__title {
      font-size: 5rem;
      font-weight: 600;

      .purple__line {
        width: 120px;
        height: 16px;
        margin-bottom: 12px;
        background-color: var(--clr-purple);
        display: inline-block;
      }
    }

    .hero__btn {
      background-color: var(--clr-orange);
      padding-inline: 1.5rem;
    }
  }
  .right {
    .carousel-indicators {
      position: absolute;
      bottom: -3rem;

      button {
        background-color: var(--clr-black);
        opacity: 0.5;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 0 5px;
        border: none;
      }

      .active {
        opacity: 1;
        background-color: var(--clr-purple);
      }
    }
  }
}

/* ===ABOUT SECTION=== */

#about {
  background-color: var(--clr-light-purple);
  padding-block: 5rem;
  font-weight: 400;

  .about__subtitle {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 2px;
      background-color: var(--clr-purple);
    }
  }

  .about__title {
    font-size: 3rem;
    font-weight: 600;
  }
}

/* ===PORTFOLIO SECTION  */

#portfolio {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 250px;
    z-index: -2;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    background-color: transparent;
    box-shadow: 0px 0px 150px 200px #fe8c4580;
  }

  &::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 250px;
    z-index: -2;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    background-color: transparent;
    box-shadow: 0px 200px 400px 150px #8a47f67a;
  }

  .portfolio__title {
    font-size: 10rem;
    font-weight: 600;
  }

  .portfolio__link {
    color: inherit;
    text-decoration: none;
  }
}

/* ===PRICES SECTION===  */
#prices {
  margin-block: 5rem;

  .prices__title {
    font-weight: 700;
  }

  .card {
    margin-block: 1rem 0;
    height: 350px;
    width: 320px;

    .card-title {
      font-weight: 500;
    }

    .card-subtitle {
      font-weight: 400;
    }

    .card-text {
      font-weight: 700;
    }

    &:nth-child(2) {
      color: white;
      background-color: #333333;
    }

    &:nth-child(3) {
      .card-text {
        font-weight: 700;
        margin-top: 2rem !important;
      }
    }
  }
}

/* ===TESTIMONIAL SECTION */

#testimonial {
  padding-block: 5rem;
  padding-inline: 1rem;
  background-color: var(--clr-light-purple);

  .testimonial__subtitle {
    position: relative;
    font-weight: 500;
    font-size: 1.2rem;

    &::before {
      content: "";
      position: absolute;
      bottom: 50%;
      left: -15px;
      transform: translateX(-50%);
      width: 20px;
      height: 2px;
      background-color: var(--clr-purple);
    }
  }

  .testimonial__title {
    font-weight: 600;
  }

  .testimonial__person {
    .left {
      background-color: hsl(262, 91%, 91%);
    }

    .testimonial__person-name {
      display: inline-flex;
      font-size: 1.1rem;
    }

    i {
      cursor: pointer;
    }
  }
}

/* ===INSTAGRAM SECTION */

#instagram {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 250px;
    z-index: -2;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    background-color: transparent;
    box-shadow: 0px 200px 400px 150px #8a47f67a;
  }
}
